<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">

</head>
<body>
    <footer>
<div class="footer">  
    <div class="contacto">
        <h3>CONTACTO</h3>
        <h4>Olympus Life Center</h4>
        <p class="contactanospa">Contactanos, estamos para ayudarte.</p>
        <a class="mail" href = "mailto: olympuslifecenter@hotmail.com">olympuslifecenter@hotmail.com</a>
        <br>
        <a href="https://api.whatsapp.com/send?phone=5491128692121">Tel: 11 2869 2121 Sólo Whatsapp</a> <br>
    
    </div>
    <div class="seguinos" >
        <img src="../images/logo-olympus.png" alt="" style="margin-top: 10px;" class="logo-footer">
        <h3>Seguinos</h3>
        <a href="https://www.facebook.com/olympuslifecenter">
            <img src="/images/facebook.png" style="width: 30px; height: 30px;">
        </a>
        <a href="https://www.instagram.com/olympuslifecenter/">
            <img src="/images/instagram1.png" style="width: 30px; height: 30px;">
        </a>
    </div>
</div>
    </footer>
</body>
</html>