<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/header.css">
</head>
<body>
    <header id="header" class="container">
            <img src="../images/logo-olympus.png" alt="" class="logo-olympus">
            <div class="barra">
                    <a href="/olympusEnCasa" class="navbar olympus">OLYMPUS EN CASA</a>
                    <a href="/" title="Inicio" class="navbar">HOME</a>
                    <a href="/horarios" title="Actividades" class="navbar">HORARIOS</a>
                    <a href="/actividades" title="Actividades" class="navbar">ACTIVIDADES</a>
                    <a href="/planes" title="Planes" class="navbar">PLANES</a>
                    <a href="/asociarse" title="Asociarse" class="navbar">ASOCIARSE</a>
                    <a href="/contacto" title="Contacto" class="navbar">CONTACTO</a>
            </div>
        </header>
  
</body>
</html>