<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Olympus Life Center</title>
    <link rel='stylesheet' href='/stylesheets/actividades.css'>
    <%- include('./partials/header.ejs')  %> 
</head>
<body>
<div class="containerActividades">
    <div class="actividades">
        <a href="./actividades/fitness">
            <div class="recuadro">
              <img src="../images/actividades/fitnesss.jpeg" class="imagenActividades" alt="">
              <div class="titles">
                FITNESS
              </div>
            </div>
        </a>
        <a href="./actividades/funcional">
            <div class="recuadro">
              <img src="../images/actividades/functional.jpg" class="imagenActividades" alt="">
              <div class="titles">
                FUNCIONAL
              </div>
            </div>
        </a>
        <a href="./actividades/indoor-cycle">
            <div class="recuadro">
              <img src="../images/actividades/indoor-cycle.jpeg" class="imagenActividades" alt="">
              <div class="titles">
                INDOOR CYCLE
              </div>
            </div>
        </a>
        <a href="./actividades/yoga">
            <div class="recuadro">
              <img src="../images/actividades/yoga.jpeg" class="imagenActividades" alt="">
              <div class="titles">
                YOGA
              </div>
            </div>
        </a>
        <a href="./actividades/taekwondo">
            <div class="recuadro">
              <img src="../images/actividades/taekwondo.jpeg" class="imagenActividades" alt="">
              <div class="titles">
                TAEKWONDO
              </div>
            </div>
        </a>
        <a href="./actividades/box-training">
            <div class="recuadro">
              <img src="../images/actividades/box-training.jpeg" class="imagenActividades" alt="">
              <div class="titles">
                BOX TRAINING
              </div>
            </div>
        </a>
        <a href="./actividades/natacion">
            <div class="recuadro">
              <img src="../images/actividades/natacion.jpeg" style="opacity: 0.9;" class="imagenActividades" alt="">
              <div class="titles">
                NATACIÓN
              </div>
            </div>
        </a>
        <a href="./actividades/acuatica">
            <div class="recuadro">
              <img src="../images/actividades/acua2.jpg" class="imagenActividades" alt="">
              <div class="titles">
                ACUÁTICA
              </div>
            </div>
        </a>
        <a href="./actividades/pileta-libre">
            <div class="recuadro">
              <img src="../images/actividades/pileta-libre.jpeg" class="imagenActividades" alt="">
              <div class="titles">
                PILETA LIBRE
              </div>
            </div>
        </a> 
</div>     
<%- include('./partials/footer.ejs')  %> 
</body>
</html>