<!DOCTYPE html>
<html>
  <head>
    <title>Olympus Life Center</title>
    <link rel='stylesheet' href='/stylesheets/styles.css'>
    <%- include('./partials/header.ejs')  %> 
  </head>
<body>
    <img src="/images/entrada.png" style="width: 100%; position: relative; opacity: 0.5;">

  <div style="color: white; position: absolute; top: 33%; font-size: x-large; text-align: center;">
    <h1 style="text-align: center;">Vení a conocer nuestras instalaciones!</h1><br>
    <p>En cualquier momento del día, de 8:00 a 22:00hs, te esperamos para que conozcas nuestras instalaciones!</p>
    <p>Si tenés alguna duda, contactanos!</p><br>
    <a href="./contacto">
    <button style="background-color: transparent; border-radius: 5px; border: 2px solid white; padding: 5px;  padding-right: 15px; padding-left: 15px;">CONTACTO</button></a>
  <div style="bottom: 0% !important;">
      <%- include('./partials/footer.ejs')  %> 
  </div>
  </div>

</body>
</html>