<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Olympus Life Center</title>
    <link rel='stylesheet' href='/stylesheets/horarios.css'>
    <%- include('./partials/header.ejs')  %> 
</head>
<body>
<div class="horario">
    <h1 class="horarios">Horarios:</h1>
    <table class="egt">
        <tr class="col">
            <th class=" oscuro color">LUNES</th>
            <th class="oscuro color">MARTES</th>
            <th class="oscuro color">MIÉRCOLES</th>
            <th class="oscuro color">JUEVES</th>
            <th class="oscuro color">VIERNES</th>
            <th class="oscuro color">SÁBADO</th>
      
        </tr>

        <tr class="col">
            <td class="gris"></td>
            <td class="gris"></td>
            <th class="horario gris">8:00</th>
            <td class="gris"></td>
            <td class="gris"></td>
            <td class="gris"></td>
        </tr>
      
        <tr class="col">
            <td class="borde"><span>Indoor</span><br>
                8:30 - 9:30
            </td>
            <td class="borde"><span>Indoor</span><br>
                8:30 - 9:30
            </td>
            <td class="borde"><span>Indoor</span><br>
                8:30 - 9:30
            </td>
            <td class="borde"><span>Indoor</span><br>
                8:30 - 9:30
            </td>
            <td class="borde"><span>Indoor</span><br>
                8:30 - 9:30
            </td>
            <td class="borde"></td>
        </tr>
        <tr class="col">
            <td class="gris"></td>
            <td class="gris"></td>
            <th class="horario gris">9:00</th>
            <td class="gris"></td>
            <td class="gris"></td>
            <td class="gris"></td>
        </tr>
        <tr class="col">
             <td class="borde"><span>Localizada</span><br>
                9:00 - 10:00
             </td>
             <td class="borde"><span>Yoga</span><br>
                9:00 - 10:00
            </td>
             <td class="borde"><span>Localizada</span><br>
                9:00 - 10:00
            </td>
             <td class="borde"><span>Yoga</span><br>
                9:00 - 10:00
            </td>
             <td class="borde"><span>Localizada</span><br>
                9:00 - 10:00
            </td>
             <td class="borde"></td>
        </tr>
        <tr class="col">
             <td class="borde"><span>Funcional</span><br>
                9:00 - 10:00
            </td>
             <td class="borde"><span>Funcional</span><br>
                9:00 - 10:00
            </td>
             <td class="borde"><span>Funcional</span><br>
                9:00 - 10:00
            </td>
             <td class="borde"><span>Funcional</span><br>
                9:00 - 10:00
            </td>
             <td class="borde"><span>Funcional</span><br>
                9:00 - 10:00
            </td>
             <td class="borde"></td>
        </tr>
        <tr class="col">
            <td class="gris"></td>
            <td class="gris"></td>
            <th class="horario gris">10:00</th>
            <td class="gris"></td>
            <td class="gris"></td>
            <td class="gris"></td>
        </tr>
        <tr class="col">
             <td class="borde"><span>Stretching</span><br>
            10:00 - 11:00
            </td>
             <td class="borde"><span>Localizada</span><br>
                10:00 - 11:00
            </td>
             <td class="borde"><span>Stretching</span><br>
                10:00 - 11:00
            </td>
             <td class="borde"><span>Localizada</span><br>
                10:00 - 11:00
            </td>
             <td class="borde"><span>Stretching</span><br>
                10:00 - 11:00
            </td>
             <td class="borde"><span>Yoga</span><br>
                10:00 - 11:00
            </td>
        </tr>
        <tr class="col">
             <td class="borde"><span>Taller Abdominales</span><br>
                10:00 - 11:00
            </td>
             <td class="borde"><span>Funcional</span><br>
                10:00 - 11:00
            </td>
             <td class="borde"><span>Taller Abdominales</span><br>
                10:00 - 11:00
            </td>
             <td class="borde"><span>Funcional</span><br>
                10:00 - 11:00
            </td>
             <td class="borde"><span>Taller Abdominales</span><br>
                10:00 - 11:00
            </td>
             <td class="borde"></td>
        </tr>
        <tr class="col">
            <td class="gris"></td>
            <td class="gris"></td>
            <th class="horario gris">11:00</th>
            <td class="gris"></td>
            <td class="gris"></td>
            <td class="gris"></td>
        </tr>
        <tr class="col">
            <td class="borde"></td>
            <td class="borde"></td>
            <td class="borde"></td>
            <td class="borde"></td>
            <td class="borde"><span>Zumba</span><br>
            11:00 - 12:00
            </td>
            <td class="borde"></td>
        </tr>
        <tr class="col">
            <td class="borde"> </td>
            <td class="borde"></td>
            <td class="borde"></td>
            <td class="borde"></td>
            <td class="borde"></td>
            <td class="borde"><span>Indoor</span><br>
                11:00 - 12:00
            </td>
        </tr>
        <tr class="col">
            <td class="borde"></td>
            <td class="borde"></td>
            <td class="borde"></td>
            <td class="borde"></td>
            <td class="borde"></td>
            <td class="borde"><span>Localizada</span><br>
                11:00 - 12:00
            </td>
        </tr>
        <tr class="col">
            <td class="gris"></td>
            <td class="gris"></td>
            <th class="horario gris">12:00</th>
            <td class="gris"></td>
            <td class="gris"></td>
            <td class="gris"></td>
        </tr>
        <tr class="col">
            <td class="borde"></td>
            <td class="borde"></td>
            <td class="borde"></td>
            <td class="borde"></td>
            <td class="borde"></td>
            <td class="borde"><span>Stretching</span><br>
                12:00 - 13:00
            </td>
        </tr>
        <tr class="col">
            <td class="borde"></td>
            <td class="borde"></td>
            <td class="borde"></td>
            <td class="borde"></td>
            <td class="borde"></td>
            <td class="borde"><span>Boxeo</span><br>
                12:00 - 13:00
            </td>
        </tr>
        <tr class="col">
            <td class="gris"></td>
            <td class="gris"></td>
            <th class="horario gris">13:00</th>
            <td class="gris"></td>
            <td class="gris"></td>
            <td class="gris"></td>
        </tr>
        <tr class="col">
            <td class="borde"><span>Indoor</span><br>
            13:00 - 14:00</td>
            <td class="borde"> </td>
            <td class="borde"><span>Indoor</span><br>
                13:00 - 14:00
            </td>
            <td class="borde"> </td>
            <td class="borde"><span>Indoor</span><br>
                13:00 - 14:00
            </td>
            <td class="borde"></td>
        </tr>
        <tr class="col">
            <td class="gris"></td>
            <td class="gris"></td>
            <th class="horario gris">15:00</th>
            <td class="gris"></td>
            <td class="gris"></td>
            <td class="gris"></td>
        </tr>
        <tr class="col">
            <td class="borde"><span>Localizada</span><br>
                15:00 - 16:00
            </td>
            <td class="borde"> </td>
            <td class="borde"><span>Localizada</span><br>
                15:00 - 16:00
            </td>
            <td class="borde"> </td>
            <td class="borde"><span>Localizada</span><br>
                15:00 - 16:00
            </td>
            <td class="borde"><span>Taewondo</span><br>
                15:00 - 16:00
            </td>
        </tr>
        <tr class="col">
            <td class="borde"> </td>
            <td class="borde"><span>Yoga</span><br>
                15:30 - 16:30
            </td>
            <td class="borde"> </td>
            <td class="borde"><span>Yoga</span><br>
                15:30 - 16:30
            </td>
            <td class="borde"></td>
            <td class="borde"></td>
        </tr>
        <tr class="col">
            <td class="gris"></td>
            <td class="gris"></td>
            <th class="horario gris">16:00</th>
            <td class="gris"></td>
            <td class="gris"></td>
            <td class="gris"></td>
        </tr>
        <tr class="col">
           <td class="borde"></td>
           <td class="borde"></td>
           <td class="borde"></td>
           <td class="borde"></td>
           <td class="borde"></td>
           <td class="borde"><span>Taekwondo</span><br>
            16:00 - 17:00
        </td>
        </tr>
        <tr class="col">
            <td class="gris"></td>
            <td class="gris"></td>
            <th class="horario gris">17:00</th>
            <td class="gris"></td>
            <td class="gris"></td>
            <td class="gris"></td>
        </tr>
        <tr class="col">
            <td class="borde"></td>
            <td class="borde"><span>Taekwondo</span><br>
                17:00 - 18:00
            </td>
            <td class="borde"></td>
            <td class="borde"><span>Taekwondo</span><br>
                17:00 - 18:00
            </td>
            <td class="borde"></td>
            <td class="borde"><span>Indoor</span><br>
                17:00 - 18:00
            </td>
        </tr> 
        <tr class="col">
            <td class="gris"></td>
            <td class="gris"></td>
            <th class="horario gris">18:00</th>
            <td class="gris"></td>
            <td class="gris"></td>
            <td class="gris"></td>
        </tr>
        <tr class="col">
            <td class="borde"><span>Localizada</span><br>
            18:00 - 19:00
        </td>
            <td class="borde"> </td>
            <td class="borde"><span>Localizada</span><br>
                18:00 - 19:00
            </td>
            <td class="borde"> </td>
            <td class="borde"><span>Localizada</span><br>
                18:00 - 19:00
            </td>
            <td class="borde"><span>G.A.P</span><br>
                18:00 - 19:00
            </td>
        </tr>
        <tr class="col">
            <td class="borde"><span>Funcional</span><br>
                18:00 - 19:00
            </td>
            <td class="borde"><span>Funcional</span><br>
                18:00 - 19:00
            </td>
            <td class="borde"><span>Funcional</span><br>
                18:00 - 19:00
            </td>
            <td class="borde"><span>Funcional</span><br>
                18:00 - 19:00
            </td>
            <td class="borde"><span>Funcional</span><br>
                18:00 - 19:00
            </td>
            <td class="borde"></td>
        </tr>    
        <tr class="col">
            <td class="borde"><span>Taekwondo</span><br>
                18:00 - 19:00
            </td>
            <td class="borde"></td>
            <td class="borde"><span>Taekwondo</span><br>
                18:00 - 19:00</td>
            <td class="borde"></td>
            <td class="borde"></td>
            <td class="borde"></td>
        </tr>
        <tr class="col">
            <td class="gris"></td>
            <td class="gris"></td>
            <th class="horario gris">19:00</th>
            <td class="gris"></td>
            <td class="gris"></td>
            <td class="gris"></td>
            
        </tr>
        <tr class="col">
            <td class="borde"><span>Fit Combat</span><br>
                19:00 - 20:00
            </td>
            <td class="borde"><span>Localizada</span><br>
                19:00 - 20:00
            </td>
            <td class="borde"><span>Fit Combat</span><br>
                19:00 - 20:00
            </td>
            <td class="borde"><span>Localizada</span><br>
                19:00 - 20:00
            </td>
            <td class="borde"><span>Fit Combat</span><br>
                19:00 - 20:00
            </td>
            <td class="borde"></td>
        </tr>
        <tr class="col">
            <td class="borde"><span>Funcional</span><br>
                19:00 - 20:00
            </td>
            <td class="borde"><span>Funcional</span><br>
                19:00 - 20:00
            </td>
            <td class="borde"><span>Funcional</span><br>
                19:00 - 20:00
            </td>
            <td class="borde"><span>Funcional</span><br>
                19:00 - 20:00
            </td>
            <td class="borde"><span>Funcional</span><br>
                19:00 - 20:00
            </td>
            <td class="borde"></td>
        </tr>  
        <tr class="col">
            <td class="borde"><span>Indoor</span><br>
                19:00 - 20:00
            </td>
            <td class="borde"><span>Indoor</span><br>
                19:00 - 20:00
            </td>
            <td class="borde"><span>Indoor</span><br>
                19:00 - 20:00
            </td>
            <td class="borde"><span>Indoor</span><br>
                19:00 - 20:00
            </td>
            <td class="borde"><span>Indoor</span><br>
                19:00 - 20:00
            </td>
            <td class="borde"></td>
        </tr>
        <tr class="col">
            <td class="gris"></td>
            <td class="gris"></td>
            <th class="horario gris">20:00</th>
            <td class="gris"></td>
            <td class="gris"></td>
            <td class="gris"></td>

        </tr>
        <tr class="col">
            <td class="borde"><span>Local Pump</span><br>
                20:00 - 21:00
            </td>
            <td class="borde"><span>Zumba</span><br>
                20:00 - 21:00
            </td>
            <td class="borde"><span>Local Pump</span><br>
                20:00 - 21:00
            </td>
            <td class="borde"><span>Zumba</span><br>
                20:00 - 21:00
            </td>
            <td class="borde"><span>Local Pump</span><br>
                20:00 - 21:00
            </td>
            <td class="borde"></td>
        </tr>
        <tr class="col">
            <td class="borde"><span>Indoor</span><br>
                20:00 - 21:00
            </td>
            <td class="borde"><span>Indoor</span><br>
                20:00 - 21:00
            </td>
            <td class="borde"><span>Indoor</span><br>
                20:00 - 21:00
            </td>
            <td class="borde"><span>Indoor</span><br>
                20:00 - 21:00
            </td>
            <td class="borde"><span>Indoor</span><br>
                20:00 - 21:00
            </td>
            <td class="borde"></td>
       </tr>
       <tr class="col">
           <td class="borde"><span>Boxeo</span><br>
            20:00 - 21:00
            </td>
           <td class="borde"><span>Stretching</span><br>
            20:00 - 21:00
            </td>
           <td class="borde"><span>Boxeo</span><br>
            20:00 - 21:00
            </td>
           <td class="borde"><span>Stretching</span><br>
            20:00 - 21:00
            </td>
           <td class="borde"><span>Boxeo</span><br>
            20:00 - 21:00
            </td>
           <td class="borde"></td>
       </tr>
        
      </table>
</div>
    <%- include('./partials/footer.ejs')  %> 
</body>
</html>