<!DOCTYPE html>

<html> 
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Olympus Life Center</title>
    <link rel='stylesheet' href='/stylesheets/planes.css'>
    <%- include('./partials/header.ejs')  %> 
<body>
<div class="containerPlanes">
    <details class="planes">
        <summary class="tituloPlan">
            Plan Sport 
        </summary>  
        <ul class="texto">
            <li>Este plan incluye:</li>
            <ul>
                <li>Salón de Musculación</li>
                <li>Clases de Fitness</li>
                <li>Talleres de Abdominales</li>
                <li>Clases de Indoor Cycling</li>
                <li>Entrenamiento Funcional</li>
            </ul>
        </ul>
    </details>
    
    <details class="planes">
        <summary class="tituloPlan">
            Plan Sport Vip
        </summary>  
        <ul class="texto">
            <li> Este plan es el mas completo, e incluye:</li>
                <ul>
                    <li>Salón de Musculación</li>
                    <li>Clases de Fitness</li>
                    <li>Talleres de Abdominales</li>
                    <li>Clases de Indoor Cycling</li>
                    <li>Entrenamiento Funcional</li>
                    <li>Pileta Libre</li>
                    <li>12 clases al mes de Gimnasia acúatica</li>
                    <li>AquaYoga</li>
                </ul>
        
            <li>A éste plan se le puede agregar:</li>
            <li>CLASES DE NATACION
                <ul>
                    <li>1, 2 o 3 veces por semana.</li>
                </ul>
            </li>
        </ul>
    </details>
    
    <details class="planes">
        <summary class="tituloPlan">
            Plan Sport Chicos
        </summary>  
        <ul class="texto">
            <li>Pase libre.</li>
            <li>
                Taekwondo niños/adolescentes:
                <ul>
                    <li>Martes y Jueves 17, 18 y 19hs</li>
                    <li>Sábados 15 y 16hs</li>
                </ul>
            </li>
        </ul>
    </details>
    
    <details class="planes">
        <summary class="tituloPlan">
            Clases de Natación
        </summary>  
        <ul class="texto">
            <li>Las clases de natación se abonan dependiendo de la cantidad de veces por semana que concurras. Podés venir:</li>
            <ul>
                <li>1 vez por semana</li>
                <li>2 veces por semana</li>
                <li>3 veces por semana</li>
            </ul>
        </ul>
    </details>
    
    <details class="planes">
        <summary class="tituloPlan">
            Clases de Gimnasia Acuática
        </summary>  
        <ul class="texto">
            <li>Las clases de gimnasia acuática se abonan dependiendo de la cantidad de veces por semana que concurras. Podés venir:</li>
            <ul>
                <li>1 vez por semana</li>
                <li>2 veces por semana</li>
                <li>3 veces por semana</li>
            </ul>
        </ul>
    </details>
</div>
<%- include('./partials/footer.ejs')  %> 
</body> 
</html>