* {
    box-sizing: border-box;
}

header {
    position: absolute !important;
}

body{
    background-color: black;
    color: white;
}

.containerAsociarse{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 6%;
}

.datos {
    width: 80%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-flow: column;
}

#submit {
    color: rgb(255, 255, 255);
    border: 2px solid white;
    padding: 5px 20px;
    letter-spacing: 0px;
    background-color: transparent;
    font-weight: 600;
    border-radius: 4px;
    margin-left: 24%;
}

#name, #email, #direccion, #telefono, #nacimiento {
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px; 
    color: black;
}

h1{
    margin-bottom: 5%;
    text-align: center;
}

.nombre, .email, .direccion, .telefono, .nacimiento {
    width: 60%;
}

.mensaje {
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    color: white;
    margin-bottom: 3%;
    text-align: center;
}

@media screen and (max-width: 500px) {
    .containerAsociarse {
        padding-top: 110%;
    }
    #submit {
        margin-left: 18%;
    }
    form {
        margin-left: 30% !important;
    }
    .nombre, .email, .direccion, .telefono, .nacimiento {
        width: 70% !important;
    }
}