<!DOCTYPE html>
<html lang="en">
<head>
   <title>Olympus Life Center</title>
   <link rel='stylesheet' href='/stylesheets/styles.css'>
   <%- include('../partials/header.ejs')  %> 
</head>
<body>
   <div class="acuatica">
      <img src="../images/actividades/acua3.png" style="width: 100%; position: relative; opacity: 0.5;">
      <div class="texto"  style="position: absolute; top: 15%; left: 10%; right: 10%;color: white; font-size: x-large;">
         <h1>ACUÁTICA</h1>
         <p>La gimnasia acuática es una modalidad de ejercitación acuática con numerosos ejercicios centrados en la tonificación muscular. La gimnasia acuática adapta al medio acuático el trabajo físico que se realiza en tierra, con la ventaja de la ingravidez que aporta.<br>
         Con la gimnasia acuática se mejora la condición física general y permite una mejor recuperación de las lesiones, por lo que está indicada para personas en procesos de rehabilitación. Se trabajan diferentes grupos musculares de forma específica y se alternan ejercicios de la parte superior, media (oblicuos y abdominales) e inferior del cuerpo.<br>
         Al ritmo de la música se controlan las pulsaciones haciendo que el organismo se active o se relaje. Gracias a los ritmos se facilita la realización de los ejercicios adecuando a la música a ellos y creando coreografías.</p><br>
         <p>Horarios Acuática:</p>
         <ul>
            <li>Lunes Miércoles y Viernes 11 y 12hs</li>
            <li>Martes y Jueves 14:30 y 20:30hs</li>
            <li>Sábado 12:30hs</li>
         </ul>
      </div>
   </div>
   <%- include('../partials/footer.ejs')  %> 
   <style>
      header{
         position: absolute !important;
      }
      @media screen and (max-width: 500px){
         .acuatica {
            padding-top: 105%
         }
         .texto {
            padding-top: 85%;
         }
         footer {
            display: none;
         }
      }
    </style>
</body>
</html>



