<!DOCTYPE html>
<html lang="en">
<head>
   <title>Olympus Life Center</title>
   <link rel='stylesheet' href='/stylesheets/styles.css'>
   <%- include('../partials/header.ejs')  %> 
</head>
<body>
   <div class="boxTraining">
      <img src="../images/actividades/boxTraningFondo.jpg" style="width: 100%; position: relative; opacity: 0.5;">
      <div class="texto" style="position: absolute; top: 12%; left: 10%; color: white; right: 10%; font-size: x-large;" >
      <h1>BOX TRAINING</h1>
      <p>El boxeo recreativo es un entrenamiento muy completo ya que trabaja todos los músculos del cuerpo. Implica un gran trabajo aeróbico, activa el sistema cardiovascular y la circulación sanguínea, y mejora el funcionamiento del sistema respiratorio.<br>
      Si bien el boxeo trabaja principalmente el tren superior (brazos y pecho), se aprovecha el entrenamiento funcional para ejercitar core, glúteos y piernas.<br>
      Los beneficios del boxeo para tu salud son:<br>
      <ul>
         <li>
            Libera tensiones y estrés. La practica del boxeo te ayudará a eliminar las tensiones acumuladas en el día a día.
         </li>
         <li>
            Mejora tu resistencia física.
         </li>
         <li>
            Mejora tu salud cardiovascular. 
         </li>
         <li>
            Quemas calorías.
         </li>
         <li>
            Ayuda a definir y tonificar los músculos.
         </li>
         <li>
            Trabaja todo tu cuerpo.
         </li>
         <li>
            Mejora tu autoestima
         </li>
      </ul>
      <p>Horarios Box Training:</p>
      <ul>
         <li>
            Lunes, Miércoles y Viernes 20hs
         </li>
         <li>
            Sábado 12hs
         </li>
      </ul>
   </div>
   <%- include('../partials/footer.ejs')  %>
   <style>
      header{
         position: absolute !important;
      }
      @media screen and (max-width: 500px){
         .boxTraining {
            padding-top: 105%
         }
         .texto {
            padding-top: 87%;
         }
         footer {
            display: none;
         }
      }
    </style> 
</body>
</html>