<!DOCTYPE html>
<html lang="en">
<head>
   <title>Olympus Life Center</title>
   <link rel='stylesheet' href='/stylesheets/styles.css'>
   <%- include('../partials/header.ejs')  %> 
   <style>
      header {
         position: absolute !important;
      }
   </style>
</head>
<body>
   <div class="fitness">
      <img src="../images/actividades/fitnesss.jpeg" style="width: 100%; position: relative; opacity: 0.5;">
      <div class="texto" style="position: absolute; top: 15%; left: 10%; color: white; right: 10%; font-size: x-large;" >
         <h1>FITNESS</h1><br>
         <details>
            <summary class="titulo">
               Localizada
            </summary>
            <ul>
               <li>
                  Una clase de múltiples beneficios que nos ofrece, desde modelar y tonificar la figura, hasta fortalecer huesos y músculos.
               </li>
               <li>
                  La gimnasia localizada se caracteriza por una rutina de entrenamiento en la cual se aplican ejercicios específicos según la zona del cuerpo que se desea ejercitar. El resultado de esta rutina no sólo se ve reflejado en el estado físico de la persona, sino también en un bienestar mucho más general.
               </li>
               <li>
                  Una práctica regular de gimnasia localizada nos permite tonificar la masa muscular de nuestro cuerpo y aumentar notablemente el volumen de los músculos.
               </li>
               <li>
                  Horarios:
               </li>
               <ul>
                  <li>
                     Lunes, Miércoles y Viernes 9, 15 y 18hs
                  </li>
                  <li>
                     Martes y Jueves 10 y 19hs
                  </li>
                  <li>
                     Sábado 11hs
                  </li>
               </ul>
            </ul>
         </details>
         <details>
            <summary class="titulo">
               Local Pump
            </summary>
            <ul>
               <li>
                  Las clases de LocalPump consisten en una hora de entrenamiento en la que se trabaja con pesos libres, utilizando barras y discos, para entrenar todos los grupos musculares del cuerpo: pectoral, piernas, espalda, brazos y abdomen 
               </li>
               <li>
                  Horarios:
               </li>
               <ul>
                  <li>
                     Lunes, Miércoles y Viernes 20hs
                  </li>
               </ul>
            </ul>
         </details>
         <details>
            <summary class="titulo">
               Estiramiento
            </summary>
            <ul>
               <li>
                  Son ejercicios suaves y mantenidos que sirven para preparar los músculos para un mayor esfuerzo y aumentar el rango de movimiento en las articulaciones.<br>
                  Estirar ayuda a evitar posibles lesiones, a mejorar la circulación y mantener los músculos flexibles y sanos.
               </li>
               <li>
                  Horarios:
               </li>
               <ul>
                  <li>
                     Lunes, Miércoles y Viernes 10hs
                  </li>
                  <li>
                     Martes y Jueves 20hs
                  </li>
                  <li>
                     Sábado 12hs
                  </li>
               </ul>
            </ul>
         </details>
         <details>
            <summary class="titulo">
               Zumba
            </summary>
            <ul>
               <li>
                  Zumba es una disciplina fitness, un programa de entrenamiento enfocado por una parte a mantener un cuerpo saludable y por otra a desarrollar, fortalecer y dar flexibilidad al cuerpo mediante movimientos de baile combinados con una serie de rutinas aeróbicas.
               </li>
               <li>
                  Horarios:
               </li>
               <ul>
                  <li>
                     Martes y Jueves 20hs
                  </li>
                  <li>
                     Sábado 11hs
                  </li>
               </ul>
            </ul>
         </details>
      
      </div>
   </div>
   <%- include('../partials/footer.ejs')  %> 
   <style>
      header{
         position: absolute !important;
      }
      .titulo{
         margin-bottom: 3%;
         outline: none;
      }
      @media screen and (max-width: 500px){
         .fitness {
            padding-top: 100%;
         }
         .texto {
            padding-top: 85%;
         }
         footer{
            display: none;
         }
      }
    </style>
</body>
</html>