<!DOCTYPE html>
<html lang="en">
<head>
   <title>Olympus Life Center</title>
   <link rel='stylesheet' href='/stylesheets/styles.css'>
   <%- include('../partials/header.ejs')  %> 
</head>
<body>
   <div class="funcional">
      <img src="../images/actividades/funcionalFondo.jpg" style="width: 100%; position: relative; opacity: 0.5;">
      <div class="texto" style="position: absolute; top: 13%; left: 10%; right: 10%; color: white; font-size: x-large;">
      <h1>ENTRENAMIENTO FUNCIONAL</h1>
      <p>El entrenamiento funcional ayuda al cuerpo, mediante la simulación de actividades cotidianas que mejoran en el equilibrio, la coordinación, agilidad y resistencia, mientras nos ayuda a perder grasa y tonificarnos, mejorando nuestra imagen y ayudándonos a tener un estilo de vida más saludable, en general.<br>
         BENEFICIOS: <br>
         <details class="planes">
            <summary class="tituloPlan">
               1. Ayuda a quemar grasa corporal
            </summary>
            <ul>
               <li>
                  Con el entrenamiento funcional, al realizar movimientos intensos y repetitivos en poco tiempo, se favorece un mayor gasto calórico, lo que favorece a la disminución de grasa y la aceleración del metabolismo.
               </li>
            </ul> 
         </details>
         <details class="planes">
            <summary class="tituloPlan">
               2. Mejora la postura del cuerpo y la estabilidad
            </summary>
            <ul>
               <li>
                  Una rutina de entrenamiento funcional incluye el fortalecimiento del core, que corresponde al centro de nuestro cuerpo, compuesto por los oblicuos, abdomen, suelo pélvico y diafragma, entre otros. Trabajar este grupo muscular con abs o flexiones, ayuda a mejorar la postura, darnos mayor estabilidad y ser más flexibles, entre otros beneficios.
               </li>
            </ul>
         </details>
         <details class="planes">
            <summary class="tituloPlan">
                  3. Evita lesiones
            </summary>        
            <ul>
               <li>
                  Cuando se entrena correctamente y aprendemos a realizar correctamente los movimientos de nuestra vida diaria, manteniendo las posturas correctas, vamos a mejorar significativamente nuestra calidad de vida, evitando contracturas, dolores musculares articulares.
               </li>
            </ul> 
         </details>
         <details class="planes">
            <summary class="tituloPlan">
               4. Gran complemento deportivo
            </summary>
            <ul>
               <li>
                  Si realizas otras actividades deportivas, como tenis, fútbol, running, u otra disciplina, debes saber que realizar entrenamientos funcionales ayuda a fortalecer otras partes de tu cuerpo y, de esta forma, mejorar tu desempeño, favoreciendo la recuperación, previniendo lesiones y dándote mayor potencia en movimientos rápidos, de reacción y con gran alcance.
               </li>
            </ul>
         </details>
         <details class="planes">
            <summary class="tituloPlan">
            5. Trabajas las cadenas musculares
         </summary>
         <ul>
            <li>
               Cuando se hacen rutinas de entrenamiento funcional se entrenan las cadenas musculares, no solamente músculos aislados, lo cual hace más eficiente el entrenamiento y genera mejores resultados para tu salud y tu vida diaria.
            </li>
         </ul>
         </details>

      <p>Horarios Funcional:</p>
      <ul>
         <li>De Lunes a Viernes 9:15, 18 y 19hs</li>
      </ul>
   </div>
   <%- include('../partials/footer.ejs')  %> 
   <style>
      header{
         position: absolute !important;
      }
      .containerPlanes {
         padding-top: 10%;
         padding-left: 10%;
         width: 80%;
      }
      .tituloPlan {
         color: white;
         margin-bottom: 3%;
         font-size: large;
      }
      summary {
         outline: none;
         margin-bottom: 20px;
         font-size: xx-large;
      }
      .planes{
         font-size: medium;
      }
      @media screen and (max-width: 500px){
         .funcional {
            padding-top: 105%
         }
         .texto {
            padding-top: 85%;
         }
         footer {
            display: none;
         }
      }
    </style>
</body>
</html>
