<!DOCTYPE html>
<html lang="en">
<head>
   <title>Olympus Life Center</title>
   <link rel='stylesheet' href='/stylesheets/styles.css'>
   <%- include('../partials/header.ejs')  %> 
</head>
<body>
<div class="taekwondo">
      <img src="../images/actividades/taekwondoFondo.jpg" style="width: 100%; position: relative; opacity: 0.4;">
      <div class="texto" style="position: absolute; top: 13%; left: 10%; right: 10%; color: white; font-size: x-large;">
      <h1>TAEKWONDO</h1>
      <p>Es un término que procede del coreano y que hace referencia a un arte marcial del mismo origen. Este deporte combina técnicas del kung fu, el karate-do y otras disciplinas más antiguas.<br>
      La expresión se forma por tres términos: tae (que refiere a la utilización de los pies), kwon (vinculado a los brazos y puños) y do (una noción filosófica que se asocia al camino hacia la perfección). La frase “tae kwon do”, por lo tanto, alude al uso de los pies y las manos en una técnica que, por extensión, no apela a ninguna clase de armamento.<br>
      Al igual que otras artes marciales, en el taekwondo existen cinturones que reflejan el grado de destreza alcanzado por el practicante. Una vez que el deportista alcanza el cinturón negro (máximo grado), puede seguir avanzando hasta llegar al 9º DAN, que es la calificación más alta.</p><br>
      <p>Horarios Taekwondo:</p>
      <ul>
         <li>Martes y jueves 17hs para niños de 4 a 8 años</li>
         <li>Martes y Jueves 18hs para niños de 9 a 12 años</li>
         <li>Martes y Jueves 19hs adolescentes y adultos.</li>
         <li>Sábado 15hs (4 a 8 años)</li>
         <li>Sábado 16hs (9 a 12 años)</li>
      </ul>
   </div>
</div>
<style>
   header{
      position: absolute !important;
      background-color: rgba(0, 0, 0, 0.5);
   }
   @media screen and (max-width: 500px){
         .taekwondo {
            padding-top: 105%
         }
         .texto {
            padding-top: 85%;
         }
         footer {
            display: none;
         }
      }
</style>
<%- include('../partials/footer.ejs')  %> 
</body>
</html>
