<!DOCTYPE html>
<html lang="en">
<head>
   <title>Olympus Life Center</title>
   <link rel='stylesheet' href='/stylesheets/styles.css'>
   <%- include('../partials/header.ejs')  %> 
</head>
<body>
   <div class="yoga">
      <img src="../images/actividades/yogaFondo.jpg" style="width: 100%; position: relative;">
      <div class="texto" style="position: absolute; top: 15%; color: white; left: 10%; right: 10%; font-size: x-large;">
      <h1">YOGA</h1>
      <p>El yoga es una práctica que conecta el cuerpo, la respiración y la mente. Esta práctica utiliza posturas físicas, ejercicios de respiración y meditación para mejorar la salud general. El yoga se desarrolló como una práctica espiritual hace miles de años. </p>
      <ul>
         <li>Los beneficios del yoga:</li>
         <ul>
           <li>El yoga puede mejorar el nivel general de su estado físico y mejorar su postura y flexibilidad. También puede:</li> 
           <ul>
              <li>Reducir su presión arterial y su frecuencia cardíaca</li>
              <li>Ayudarle a relajarse</li>
              <li>Reducir el estrés</li>
              <li>Mejorar su coordinación</li>
              <li>Mejorar su concentración</li>
              <li>Ayudarle a dormir mejor</li>
              <li>Ayudar a la digestión</li>
           </ul>
         </ul>
      </ul>
      <p class="horarios">Horarios Yoga:</p>
      <ul>
         <li>Martes y Jueves 9 y 15:30hs</li>
      </ul>
   </div>
   </div>
   <%- include('../partials/footer.ejs')  %> 
   <style>
      header{
         position: absolute !important;
      }
      @media screen and (max-width: 500px){
         .yoga {
            padding-top: 105%
         }
         .texto {
            padding-top: 87%;
         }
         footer {
            display: none;
         }
      }
    </style>
</body>
</html>
